<div class="container" align="center">
    <p class="h4 p-4">몬스터 소재 체크리스트</p>
</div>
<div id="popup_bg" class="popup_mask"></div>
<div class="container">
    <table class="table table-striped table-bordered table-responsive-sm table-sm">
        <thead>
        <tr>
            <th style="width: 24%">Name</th>
            <th style="width: 38%">일반 개체 소재</th>
            <th> </th>
            <th style="width: 38%">역전 개체 소재</th>
            <th> </th>
        </tr>
        </thead>
        <tbody>
        {{range $monster := .ItemList}}
            {{if eq $monster.Difficulty 0}}
                {{$tempered := GetTemperedMonster (print $monster)}}
                <tr>
                    <td id="{{$monster.Name}}" style="vertical-align: middle">
                        <a href="#{{$monster.Code}}_layer" id="{{$monster.Code}}_open">
                            <img src="data/icons/{{$monster.Name}}.jpg" width="30">
                            {{$monster.Name}}
                        </a>
                        <div id="{{$monster.Code}}_layer" class="popup_layer" align="center">
                            <a id="{{$monster.Code}}_close">
                            {{ template "monster_info" $monster }}
                            </a>
                        </div>
                        <script>
                            $(document).ready(function() {
                                $("#{{$monster.Code}}_open").click(function(event) {
                                    layerHeight = $("#{{$monster.Code}}_layer").outerHeight();
                                    layerWidth = $("#{{$monster.Code}}_layer").outerWidth();
                                    cTop = (($(window).height()-layerHeight)/2+$(document.body).scrollTop());
                                    cLeft = (($(window).width()-layerWidth)/2+$(document.body).scrollLeft());
                                    $("#popup_bg").css({
                                        "top": $(document.body).scrollTop(),
                                    });
                                    $("#{{$monster.Code}}_layer").css({
                                        "top": cTop+"px",
                                        "left": cLeft+"px",
                                    });
                                    $("#popup_bg").css("display","block");
                                    $("#{{$monster.Code}}_layer").css("display","block");
                                    $("body").css("overflow","hidden");
                                });
                                $("#{{$monster.Code}}_close").click(function(event) {
                                    $("#popup_bg").css("display","none");
                                    $("#{{$monster.Code}}_layer").css("display","none");
                                    $("body").css("overflow","auto");
                                });
                            });
                        </script>
                    </td>
                    <td id="{{$monster.Code}}" style="vertical-align: middle">
                        {{$monster.Item}}
                    </td>
                    <td style="vertical-align: middle">
                        <form>
                            <input type="checkbox" id="{{print "itemBox" $monster.Code}}">
                        </form>
                    </td>
                    <td id="{{$tempered.Code}}" style="vertical-align: middle">
                        {{if ne $tempered.Item ""}}
                            {{$tempered.Item}}
                        {{end}}
                    </td>
                    <td style="vertical-align: middle">
                        {{if ne $tempered.Item ""}}
                            <form>
                                <input type="checkbox" id="{{print "itemBox" $tempered.Code}}">
                            </form>
                        {{end}}
                    </td>
                </tr>
                <script>
                    $(document).ready(function() {
                        let checked="true"==localStorage.getItem("{{print "itemBox" $monster.Code}}");
                        let bgColor=document.getElementById('{{$monster.Name}}').style.backgroundColor
                        document.getElementById('{{$monster.Code}}').style.backgroundColor=
                            (checked)? '#FED067' : bgColor;
                        $("#{{print "itemBox" $monster.Code}}").prop('checked', checked);
                        $("#{{print "itemBox" $monster.Code}}").click(function() {
                            let checked=$("#{{print "itemBox" $monster.Code}}").is(":checked");
                            localStorage.setItem("{{print "itemBox" $monster.Code}}", checked);
                            document.getElementById('{{$monster.Code}}').style.backgroundColor=
                                (checked)? '#FED067' : bgColor;
                        });

                        {{if ne $tempered.Item ""}}
                        let Tchecked="true"==localStorage.getItem("{{print "itemBox" $tempered.Code}}");
                        document.getElementById('{{$tempered.Code}}').style.backgroundColor=
                            (Tchecked)? '#DB94FF' : bgColor;
                        $("#{{print "itemBox" $tempered.Code}}").prop('checked', Tchecked);
                        $("#{{print "itemBox" $tempered.Code}}").click(function() {
                            let checked = $("#{{print "itemBox" $tempered.Code}}").is(":checked");
                            localStorage.setItem("{{print "itemBox" $tempered.Code}}", checked);
                            document.getElementById('{{$tempered.Code}}').style.backgroundColor=
                                (checked)? '#DB94FF' : bgColor;
                        });
                        {{end}}
                    });
                </script>
            {{end}}
        {{end}}
        </tbody>
    </table>
    <br><br>
</div>
<div id="right_tab">
    <button type="button" class="btn btn-outline-info" onclick="location.href='appearlist'">출현 빈도 →</button>
</div>
